.paragraph {
	font-size: (24em / 16);
	margin-top: 1em;
	line-height: (35em / 24);
	max-width: 481px;
	@include breakpoint($md-less) {
		font-size: (21em / 16);
		line-height: (31em / 21);
	}
	@include breakpoint($xs) {
		width: span(11);
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		word-break: break-all;
	}
	@include breakpoint($xxs) {
		font-size: (18em / 16);
	}
}