.connect {
	@extend .about__item;
	@include multy-background('../img/contacts.jpg', $green, (1367% / 2049 * 100), 2049px);
	margin-top: 0;
	@include breakpoint($sm-less) {
		max-height: 1670px;
	}	
	& > .container {
		padding-top: 25%;
		@include breakpoint($sm-less) {
			padding-top: 35%;
		}
	}
}
.connectList {
	padding: 5% 0;
	margin-top: (250% / 2049 * 100);
	& span {
		margin-top: 1em;
		display: block;
	}
}
.connectList__item {
	display: inline-block;
	width: span(6);
	@include breakpoint($xs) {
		width: span(12);
		margin-top: 2em;
	}
	& .fa, & span {
		transition: color 0.2s;
	}
	&:hover {
		& .fa {
			color: $yellow;
			animation: wobble 1s;
		}
		& span {
			color: $lightRed;
		}
	}
}

.connectFormController__item, .connectList__item {
	font-size: (21em / 16);
	@include breakpoint($xxs) {
		font-size: 5vw;
	}
}

.connectFormWrapper {
	margin-top: (350% / 2049 * 100);
}
.connectForm {
	color: $white;

}
.connectFormWrapper__title {
	font-size: (50em / 16);
}
.connectFormController {
	margin-top: 3em;
	&:first-child {
		margin-top: 7em;
	}
}

::-webkit-input-placeholder {
	font-size: (18em / 16);
	font-style: italic;
}

.connectFormController__item {
	width: span(12);
	padding: 2% 0;
	background-color: transparent;
	border-bottom: 2px solid $lightRed;
	margin: 1em 0 0;
}
.connectFormController__item-textarea {
	width: span(12);
	max-height: 116px;
	@include breakpoint($xs) {
		width: span(8);
	}
}

.connectFormController__label, .connectFormController__item, .connectFormController__error {
	display: block;
}
.connectFormController__error, .connectFormController__label {
	@include breakpoint($xs) {
		text-align: center
	}
}

.connectFormController__label {
	font-size: (24em / 16);
	&:after {
		content: '*';
		color: $lightRed; 
	}
}
.connectFormController__label, .connectFormController__item {
	display: block;
}

.connectFormController__error, .connectList .fa { 
	color: $lightRed;
}

.connectForm__btn {
  	background-color: $lightRed !important;
  	margin-top: (230% / 2096 * 100) !important;
  	font-size: (26em / 16) !important;
  	font-weight: bold !important;
  	padding: 2% !important;
  	color: $white !important;
  	& .send.icon {
  		border-right: 1px solid $gray;
  	}
	
  	@include center-block;
  	@include breakpoint($xs) {
		margin-top: 60px !important;
		// display: block !important;
		font-size: (21em / 16) !important;
		padding: 4% !important;
	}

}


@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-7.5%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-2.5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: none;
  }
}