.greet {
	@include multy-background('../img/greet.jpg', $lightRed, (350% / 600 * 100), 675px);
	& .container {
		padding: 28% 0 0 9%;
		@include breakpoint($sm) {
			padding-top: 25%;
		}
		@include breakpoint($xs) {
			padding: 25% 0 0;
		}
		@include breakpoint($xxs) {
			padding-top: 40%;
		}
	}
	&__offerBtn {
		background-color: $green;
		color: $white;
		padding: 2%;
		min-width: 260px;
		min-height: 83px;
		border-radius: 10px;
		font-weight: bold;
		font-size: (30em / 16);
		position: absolute;
		top: 60%;
		right: 11%;
		@include breakpoint($md) {
			right: 7%;
		}
		@include breakpoint($sm) {
			right: auto;
			font-size: 1.5em;
			min-width: 197px;
			min-height: 56px;
			top: 83%;
		}
		@include breakpoint($sm-less) {
			position: static;
		}

		@include breakpoint($xs) {
			font-size: (24em / 16);
			margin-top: 70px;
			min-width: 215px;
			min-height: 65px;
			@include center-block;
		}
		transition: color 0.5s, background-color 0.5s, transform 0.1s;
		&:hover, &:active {
			background-color: darken($green, 10%);
			color: #d2d2d2;
		}
		&:active {
			
			transform: translateY(2px);
		}

	}
    &__title {
		color: $lightRed;
	}
	&__decorator--color_lightRed {
		color: $lightRed;		
	}
}
