.bigTitle {
	@include multy-background('../img/services.jpg', $lightRed, 50%, 600px);
	@extend .about__item;
	@include breakpoint($xs) {
		padding-bottom: 100%;
	}
	& > .container {
		@include breakpoint($lg) {
			padding-top: 60vh;
		}
		@include breakpoint($xs-up) {
			padding-top: 30%;
		}
		@include breakpoint($xs) {
			padding-top: 0;
			position: relative;
			top: 250px;
		}
	}
	&__title {
		font-weight: bold;
	}
}