.service__title {
	font-weight: bold;
	font-size: (24em / 16);
	text-align: center;
}

.service__paragraph, .service__title, .service {
	margin-top: 2em;
}

.services__items {
	
	@include flexable('flex', 'row wrap', 'space-around', 'center');
	padding: 10% 0;
}

.service {
	padding: 5% 0;
	color: $darkGray;
	min-height: 700px;
	position: relative;
	@include breakpoint($sm-less) {
		min-height: 560px;
		margin-top: 4em;
	}
	
}
.service__btn {
	background-color: $darkBlue;
	color: $white;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -60px;
	transition: color 0.5s, background-color 0.5s, transform 0.1s;
	$lightenDarkBlue: lighten($darkBlue, 5%);
	@include smooth-transition-button($whiteOrange, $lightenDarkBlue);
}
.service__icon {
	max-width: 150px;
	@include center-block;
	& figure {
		@extend .responsiveBackground;
	}
	&--type {
		&_onlineStore figure{
			background-image: url('../img/icons/online-store.png');
		}
		&_landing figure {
			background-image: url('../img/icons/landing-page.png');
		}
		&_portfolio figure {
			background-image: url('../img/icons/portfolio.png');
			
		}
		&_unicDesign figure {
			background-image: url('../img/icons/design.png');
		}
		&_conversion figure {
			background-image: url('../img/icons/conversion.png');
		}
		&_support figure {
			background-image: url('../img/icons/support.png');
		}
	}
	& figure {
		padding-bottom: 100%;
		background-attachment: scroll;
	}
}