.title {
	font-size: (63em / 16);
	@include breakpoint($md-less) {
		font-size: (55em / 16);
	}
	@include breakpoint($xs) {
		text-align: center;
		width: 100%;
		font-size: (48em / 16);
		padding: 0 20px;
	}
	@include breakpoint($xxs) {
		font-size: 10vw;
		width: 100%;
	}
}