.choice {
	@include multy-background('../img/choice.jpg', $lightGray, (350% / 600 * 100), 600px);
	color: $brown;
	& .container {
		padding-top: 20%;
		@include breakpoint($xs) {
			padding-top: 35%;
		}
	}
	&__title, &__paragraph {
		@include center-block;
	}
	&__title {
		text-align: center;
	}
	&__decorator--color_lightBrown {
		color: $lightBrown;		
	}
}
