.manage {
	@include multy-background('../img/manage.jpg', $darkBlue, (350% / 600 * 100), 675px);
	color: $whiteYellow;
	& .container {
		padding: 20% 0 0 (550% / 1366 * 100);
		@include breakpoint($md)  {
			padding: 15% 0 0 (550% / 1366 * 100);
		}
		@include breakpoint($sm) {
			padding: 15% 0 0 (400% / 1366 * 100);
		}
		@include breakpoint($xs) {
			padding: 30% 0 0;
		}
		@include breakpoint($xxs) {
			padding-top: 45%;
		}
	}
	&__title {
		@extend .greet__title;
		color: $whiteYellow; 
	}
	&__decorator--color_yellow {
		color: $yellow;		
	}
}