.firstGroupPatterns {
	@include multy-background('', $darkBlue, (2448% / 3260  * 100), 1020px);
	@include breakpoint($xs) {
		max-height: 1300px;
	}
	@include breakpoint($xxs) {
		max-height: 1020px;
	}
	& .listPatterns {
		margin-top: (50% / 1020 * 100);
	}
	& .listPatternsItem {
		background-color: $lightRed;
		margin-top: (100% / 1020 * 100) !important;
	} 
	& > .container {
		padding-top: 30%;
		@include breakpoint($xxs) {
			padding-top: 40%;
		}
	}
}


.secondGroupPatterns {
	@include multy-background('', $gray, (2789% / 4184 * 100), 830px);
	& > .container {
		padding-top: 5%;
	}
	& .listPatternsItem {
		background-color: $darkBlue;
	} 

}
.thirdGroupPatterns {
	@include multy-background('', $darkGray, ( 3448% / 4592 * 100), 1000px);
	& .listPatternsItem {
		background-color: $white;
	}
	& > .container {
		padding-top: 10%;
	}
}

.firstGroupPatterns, .secondGroupPatterns, .thirdGroupPatterns {
	@extend .about__item;
}

.secondGroupPatterns, .thirdGroupPatterns { 
	@include breakpoint($xs) {
		max-height: 1800px;
	}
	@include breakpoint($xxs) {
		max-height: 1500px;
	}
	& > .container {
		padding-top: 100px;
	}
	& .listPatterns {
	}
}

.listPatterns {
	@include flexable('flex', 'row wrap', 'space-around', 'center');
	height: 650px;
}

.listPatternsItem {
	width: span(6);
	max-width: 360px;
	margin: 0 20px (50% / 1020 * 100);
	@include breakpoint($md-less) {
		max-width: 300px;
	}
	@include breakpoint($xs) {
		width: span(12);
		max-width: 370px
	}
}

.listPatternsItem__pattern {
	@include responsive-background(100%);
	background-attachment: scroll;
}