.bigTitle {
	@include multy-background('../img/services.jpg', $lightRed, 50%, 600px);
	@extend .about__item;
	@include breakpoint($xs) {
		padding-bottom: 100%;
	}
	& > .container {
		padding-top: 30%;
		@include breakpoint($sm) {
			padding-top: 35%;
		}
		@include breakpoint($xs) {
			padding-top: 45%;
		}
	}
	&__title {
		font-weight: bold;
	}
}