.brand__name {
  color: #fff;
  font: {
    family: $stackLora;
    size: (48em / 16);
    weight: bold;
  }
  text-align: center;
  padding: (30% / 157 * 100) (17% / 285 * 100);
  background-color: $lightRed;
}

#brand {
 
}